.sectionContainer {
    max-height: 80vh;
    padding: 0 12%;
    background-color: rgba(10, 10, 10, 0.86);
    padding: 1%;
    font-weight: lighter;
    font-size: 1.2em;
    width: 100%;
    overflow: auto;
}

.boxContent {
    border: 3px solid rgba(80, 80, 80, 0.76);
    margin: 3%;
    line-height: 1.3em;
}

.boxContent h1 {
    font-size: 1.3em;
}

.boxContent .aboutSection img {
    margin: 1% 2% 2%;
    float: right;
    width: 30%;
    max-width: 175px;
}

.aboutSection {
    overflow: overlay;
    padding: 2%;
}

.list-wrap {
    display: flex;
    justify-content: space-around;
}

.list-wrap ul {
    margin: 0 4%;
}

@media screen and (min-width: 320px) and (max-width: 740px) and (orientation: landscape) {
    .boxContent .aboutSection img {
        width: 25%;
    }
}

@media screen and (min-width: 741px) {
    .boxContent img {
        width: 23%;
    }
}