        .menuBtn {
            display: block;
            font-family: 'Cutive Mono', serif;
            font-size: 1.5em;
            font-weight: lighter;
            background-color: transparent;
            margin: 3% 0;
            padding: 20px 0;
            color: #ffffff;
            text-decoration: none;
            border-top: 4px solid transparent;
            border-bottom: 4px solid transparent;
            -webkit-transition: .3s ease-in-out;
            transition: .3s ease-in-out;
        }

        .menuBtn:hover {
            cursor: pointer;
            border-top: 4px solid #ffffff;
            border-bottom: 4px solid #ffffff;
            padding: 6px 0;
            letter-spacing: 5px;
        }

        .selected {
            border-top: 4px solid rgb(132, 159, 163);
            border-bottom: 4px solid rgb(132, 159, 163);
            padding: 6px 0;
            font-family: 'Special Elite', serif;
            letter-spacing: 4px;
            font-weight: lighter;
        }

        .hamburger {
            cursor: pointer;
            position: fixed;
            top: 0.5%;
            left: 2%;
            z-index: 2;
        }

        .bar1,
        .bar2,
        .bar3 {
            width: 22px;
            height: 3px;
            background-color: #fff;
            margin: 6px 0;
            transition: 0.4s;
        }

        .change .bar1 {
            -webkit-transform: rotate(-45deg) translate(-5px, 4px);
            transform: rotate(-45deg) translate(-5px, 4px);
        }

        .change .bar2 {
            opacity: 0;
        }

        .change .bar3 {
            -webkit-transform: rotate(45deg) translate(-8px, -8px);
            transform: rotate(45deg) translate(-8px, -8px);
        }

        .sidenav {
            position: fixed;
            z-index: 1;
            display: none;
        }

        @media only screen and (min-device-width: 741px) and (-webkit-min-device-pixel-ratio: 2) {
            .hamburger {
                display: none;
            }
            .sidenav {
                position: relative;
                display: block;
            }
        }