.contactSection {
    padding: 3%;
    line-height: 1.5;
}

.contactSection h3 {
    font-weight: lighter;
    font-size: 1.2em;
}

.contactSection h2 {
    font-weight: lighter;
    vertical-align: text-bottom;
    font-family: 'Cutive Mono', serif;
    font-size: 1.2em;
    display: inline-block;
}

.menuIcons {
    margin-top: 2%;
}

.menuIcons h6 {
    font-size: 1.1em;
}

.menuIcons a {
    margin-right: 6%;
}

.menuIcons a {
    margin: 0 3%;
}

.menuIcons img {
    margin: 0;
    width: 6%;
    display: inline-block;
    float: none;
}

.menuIcons img:hover {
    left: 20px;
}

.menuIcons p {
    display: inline-block;
    margin: 4% 0 1% 1%;
    vertical-align: bottom;
}

.arrowEmail {
    display: flex;
    align-items: center;
    margin: 2% 0;
}

.arrowEmail .contactArrow {
    width: 4%;
    margin-left: -4px;
}

@media screen and (min-width: 320px) and (max-width: 740px) and (orientation: portrait) {
    .contactSection {
        padding: 12% 6%;
    }
    .arrowEmail .contactArrow {
        display: none;
    }
    .arrowEmail h2 {
        margin: 4% 0 4% 3%;
        letter-spacing: -0.9px;
    }
    .menuIcons a {
        margin: 0 4%;
    }
    .menuIcons h6 {
        margin-bottom: 2%;
    }
    .menuIcons img {
        width: 10%;
    }
    .menuIcons p {
        font-size: 1em;
        vertical-align: super;
    }
}

@media screen and (min-width: 741px) and (max-width: 801px) and (orientation: portrait) {
    .arrowEmail .contactArrow {
        display: none;
    }
    .menuIcons img {
        width: 10%;
    }
}