@import url('https://fonts.googleapis.com/css?family=Cutive+Mono|Special+Elite|Cormorant');

.pageContainer{
    width: 65vw;
    height: 100vh;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    position: absolute;
}

.horizBar{
    background-color: rgba(80, 80, 80, 0.56);
    width: 25%;
    height: 100%;
}

.innerBar{
    background-color: rgba(0, 0, 0, 0.86);
    width: 95%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

  .headerBoxWrapper {
    width: 75%;
    padding: 0 5%;
  }
  
  .sectionContainer, .aboutSection, .contactSection, .projectSection{
      display: none;
  }