.menuBtn {
    display: block;
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 0.95em;
    font-weight: lighter;
    background-color: transparent;
    padding: 20px 0;
    color: #ffffff;
    text-decoration: none;
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;
    -webkit-transition: .25s cubic-bezier(0.1, 0.5, 0.5, 1);
    -moz-transition: .25s cubic-bezier(0.1, 0.5, 0.5, 1);
    -o-transition: .25s cubic-bezier(0.1, 0.5, 0.5, 1);
    -ms-transition: .25s cubic-bezier(0.1, 0.5, 0.5, 1);
    transition: .25s cubic-bezier(0.1, 0.5, 0.5, 1);
    -webkit-transition-delay: 0.08s;
    -moz-transition-delay: 0.08s;
    -o-transition-delay: 0.08s;
    -ms-transition-delay: 0.08s;
    transition-delay: 0.08s;
    cursor: pointer;
}

.menuBtn:hover {
    letter-spacing: 4px;
}

.selected {
    border-top: 0.5px solid rgb(132, 159, 163);
    border-bottom: 0.5px solid rgb(132, 159, 163);
    padding: 20px 0;
    letter-spacing: 4px;
    font-weight: 600;
}

.hamburger {
    cursor: pointer;
    position: fixed;
    top: 0.5%;
    left: 2%;
    z-index: 2;
}

.bar1,
.bar2,
.bar3 {
    width: 22px;
    height: 3px;
    background-color: #fff;
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-5px, 4px);
    -moz-transform: rotate(-45deg) translate(-5px, 4px);
    -o-transform: rotate(-45deg) translate(-5px, 4px);
    -ms-transform: rotate(-45deg) translate(-5px, 4px);
    transform: rotate(-45deg) translate(-5px, 4px);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    -moz-transform: rotate(45deg) translate(-8px, -8px);
    -o-transform: rotate(45deg) translate(-8px, -8px);
    -ms-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}

.sidenav {
    display: none;
}

.innerNav {
    background-color: rgba(0, 0, 0, 0.86);
    position: relative;
    width: 95%;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.innerNav .logoDiv {
    display: flex;
    position: relative;
    flex-basis: 0%;
    justify-content: center;
    margin: 2% 0;
}

.innerNav h1 {
    position: absolute;
    width: 10em;
    margin-left: 0.5%;
    font-size: 1.5em;
    transform: translateY(50%);
    text-align: center;
    padding: 6px 0;
    letter-spacing: 4px;
    display: none;
}

.innerNav .menu-circle {
    display: none;
}

.innerNav .menuBtnSection {
    display: flex;
    flex-basis: 95%;
    flex-direction: column;
    justify-content: center;
    min-height: 500px;
}

@media screen and (min-width: 320px) and (max-width: 740px) and (orientation: landscape) {
    .innerNav .menuBtnSection {
        min-height: initial;
    }
}

@media screen and (min-width: 813px) {
    .hamburger {
        display: none;
    }
    .sidenav {
        display: block;
    }
    .innerNav h1 {
        display: none;
    }
    .innerNav .menu-circle {
        display: none;
        height: 8em;
        width: 9em;
        background-color: red;
        border-radius: 100%;
        opacity: 0.215;
    }
}