* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    box-sizing: border-box;
    color: #fff;
}

body {
    line-height: 1;
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    font-size: 75%;
    font-family: serif;
    font-style: normal;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    /* overflow-y: auto; */
    overflow-x: hidden;
    position: fixed;
}

a {
    background-color: transparent;
    text-decoration: none;
    -webkit-text-decoration-skip: objects;
}

a:active,
a:hover,
a:link,
a:visited {
    outline-width: 0;
    color: #fff;
    text-decoration: none;
}

ol,
ul {
    list-style: none;
}

img {
    border-style: none;
}

button,
input,
textarea {
    font: inherit;
    margin: 0;
}

button {
    text-transform: none;
    -webkit-appearance: button;
}

@media screen and (min-width: 741px) {
    body {
        font-size: 100%;
    }
}