.bkgdSlider,
.bkgdSlider:after {
    background-size: cover;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 0;
    background-color: #111111;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
}

.bkgdSlider:after {
    content: '';
    background: transparent url(https://res.cloudinary.com/andrerichards/image/upload/c_scale,w_3/v1506631996/portfolio/pattern.png) repeat top left;
}

.bkgdSlider li span {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    margin: 0 auto;
    color: transparent;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: none;
    opacity: 0;
    z-index: 0;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-animation: imageAnimation 60s linear infinite 0s;
    -moz-animation: imageAnimation 60s linear infinite 0s;
    -o-animation: imageAnimation 60s linear infinite 0s;
    -ms-animation: imageAnimation 60s linear infinite 0s;
    animation: imageAnimation 60s linear infinite 0s;
}

li {
    list-style: none;
}

.bkgdSlider li:nth-child(1) span {
    background-image: url(https://res.cloudinary.com/andrerichards/image/upload/c_scale,w_650/v1515840911/portfolio/1.jpg)
}

.bkgdSlider li:nth-child(2) span {
    background-image: url(https://res.cloudinary.com/andrerichards/image/upload/c_scale,w_650/v1515840917/portfolio/2.jpg);
    -webkit-animation-delay: 6s;
    -moz-animation-delay: 6s;
    -o-animation-delay: 6s;
    -ms-animation-delay: 6s;
    animation-delay: 6s;
}

.bkgdSlider li:nth-child(3) span {
    background-image: url(https://res.cloudinary.com/andrerichards/image/upload/c_scale,w_650/v1515840918/portfolio/3.jpg);
    -webkit-animation-delay: 12s;
    -moz-animation-delay: 12s;
    -o-animation-delay: 12s;
    -ms-animation-delay: 12s;
    animation-delay: 12s;
}

.bkgdSlider li:nth-child(4) span {
    background-image: url(https://res.cloudinary.com/andrerichards/image/upload/c_scale,w_650/v1515840920/portfolio/4.jpg);
    -webkit-animation-delay: 18s;
    -moz-animation-delay: 18s;
    -o-animation-delay: 18s;
    -ms-animation-delay: 18s;
    animation-delay: 18s;
}

.bkgdSlider li:nth-child(5) span {
    background-image: url(https://res.cloudinary.com/andrerichards/image/upload/c_scale,w_650/v1515840925/portfolio/5.jpg);
    -webkit-animation-delay: 24s;
    -moz-animation-delay: 24s;
    -o-animation-delay: 24s;
    -ms-animation-delay: 24s;
    animation-delay: 24s;
}

.bkgdSlider li:nth-child(6) span {
    background-image: url(https://res.cloudinary.com/andrerichards/image/upload/c_scale,w_650/v1515840925/portfolio/6.jpg);
    -webkit-animation-delay: 30s;
    -moz-animation-delay: 30s;
    -o-animation-delay: 30s;
    -ms-animation-delay: 30s;
    animation-delay: 30s;
}

.bkgdSlider li:nth-child(7) span {
    background-image: url(https://res.cloudinary.com/andrerichards/image/upload/c_scale,w_650/v1515840931/portfolio/7.jpg);
    -webkit-animation-delay: 36s;
    -moz-animation-delay: 36s;
    -o-animation-delay: 36s;
    -ms-animation-delay: 36s;
    animation-delay: 36s;
}

.bkgdSlider li:nth-child(8) span {
    background-image: url(https://res.cloudinary.com/andrerichards/image/upload/c_scale,w_650/v1515840925/portfolio/8.jpg);
    -webkit-animation-delay: 42s;
    -moz-animation-delay: 42s;
    -o-animation-delay: 42s;
    -ms-animation-delay: 42s;
    animation-delay: 42s;
}

.bkgdSlider li:nth-child(9) span {
    background-image: url(https://res.cloudinary.com/andrerichards/image/upload/c_scale,w_650/v1515840932/portfolio/9.jpg);
    -webkit-animation-delay: 48s;
    -moz-animation-delay: 48s;
    -o-animation-delay: 48s;
    -ms-animation-delay: 48s;
    animation-delay: 48s;
}

.bkgdSlider li:nth-child(1) div {
    -webkit-animation-delay: 6s;
    -moz-animation-delay: 6s;
    -o-animation-delay: 6s;
    -ms-animation-delay: 6s;
    animation-delay: 6s;
}

.bkgdSlider li:nth-child(2) div {
    -webkit-animation-delay: 6s;
    -moz-animation-delay: 6s;
    -o-animation-delay: 6s;
    -ms-animation-delay: 6s;
    animation-delay: 6s;
}

.bkgdSlider li:nth-child(3) div {
    -webkit-animation-delay: 12s;
    -moz-animation-delay: 12s;
    -o-animation-delay: 12s;
    -ms-animation-delay: 12s;
    animation-delay: 12s;
}

.bkgdSlider li:nth-child(4) div {
    -webkit-animation-delay: 18s;
    -moz-animation-delay: 18s;
    -o-animation-delay: 18s;
    -ms-animation-delay: 18s;
    animation-delay: 18s;
}

.bkgdSlider li:nth-child(5) div {
    -webkit-animation-delay: 24s;
    -moz-animation-delay: 24s;
    -o-animation-delay: 24s;
    -ms-animation-delay: 24s;
    animation-delay: 24s;
}

.bkgdSlider li:nth-child(6) div {
    -webkit-animation-delay: 30s;
    -moz-animation-delay: 30s;
    -o-animation-delay: 30s;
    -ms-animation-delay: 30s;
    animation-delay: 30s;
}

.bkgdSlider li:nth-child(7) div {
    -webkit-animation-delay: 36s;
    -moz-animation-delay: 36s;
    -o-animation-delay: 36s;
    -ms-animation-delay: 36s;
    animation-delay: 36s;
}

.bkgdSlider li:nth-child(8) div {
    -webkit-animation-delay: 42s;
    -moz-animation-delay: 42s;
    -o-animation-delay: 42s;
    -ms-animation-delay: 42s;
    animation-delay: 42s;
}

.bkgdSlider li:nth-child(9) div {
    -webkit-animation-delay: 48s;
    -moz-animation-delay: 48s;
    -o-animation-delay: 48s;
    -ms-animation-delay: 48s;
    animation-delay: 48s;
}

/* Animation for the slideshow images */

@-webkit-keyframes imageAnimation {
    0% {
        opacity: 0;
        -webkit-animation-timing-function: ease-in;
    }
    8% {
        opacity: 1;
        -webkit-transform: scale(1.05);
        -webkit-animation-timing-function: ease-out;
    }
    17% {
        opacity: 1;
        -webkit-transform: scale(1.1);
    }
    25% {
        opacity: 0;
        -webkit-transform: scale(1.1);
    }
    100% {
        opacity: 0
    }
}

@-moz-keyframes imageAnimation {
    0% {
        opacity: 0;
        -moz-animation-timing-function: ease-in;
    }
    8% {
        opacity: 1;
        -moz-transform: scale(1.05);
        -moz-animation-timing-function: ease-out;
    }
    17% {
        opacity: 1;
        -moz-transform: scale(1.1);
    }
    25% {
        opacity: 0;
        -moz-transform: scale(1.1);
    }
    100% {
        opacity: 0
    }
}

@-o-keyframes imageAnimation {
    0% {
        opacity: 0;
        -o-animation-timing-function: ease-in;
    }
    8% {
        opacity: 1;
        -o-transform: scale(1.05);
        -o-animation-timing-function: ease-out;
    }
    17% {
        opacity: 1;
        -o-transform: scale(1.1);
    }
    25% {
        opacity: 0;
        -o-transform: scale(1.1);
    }
    100% {
        opacity: 0
    }
}

@-ms-keyframes imageAnimation {
    0% {
        opacity: 0;
        -ms-animation-timing-function: ease-in;
    }
    8% {
        opacity: 1;
        -ms-transform: scale(1.05);
        -ms-animation-timing-function: ease-out;
    }
    17% {
        opacity: 1;
        -ms-transform: scale(1.1);
    }
    25% {
        opacity: 0;
        -ms-transform: scale(1.1);
    }
    100% {
        opacity: 0
    }
}

@keyframes imageAnimation {
    0% {
        opacity: 0;
        animation-timing-function: ease-in;
    }
    8% {
        opacity: 1;
        transform: scale(1.05);
        animation-timing-function: ease-out;
    }
    17% {
        opacity: 1;
        transform: scale(1.1);
    }
    25% {
        opacity: 0;
        transform: scale(1.1);
    }
    100% {
        opacity: 0
    }
}

/* Show when animations not supported */

.no-cssanimations .bkgdSlider li span {
    opacity: 1;
}

@media screen and (min-width: 740px) {
    .bkgdSlider li:nth-child(1) span {
        background-image: url(https://res.cloudinary.com/andrerichards/image/upload/c_scale,w_950/v1515840911/portfolio/1.jpg)
    }
    .bkgdSlider li:nth-child(2) span {
        background-image: url(https://res.cloudinary.com/andrerichards/image/upload/c_scale,w_950/v1506631977/portfolio/2.jpg)
    }
    .bkgdSlider li:nth-child(3) span {
        background-image: url(https://res.cloudinary.com/andrerichards/image/upload/c_scale,w_950/v1515840918/portfolio/3.jpg)
    }
    .bkgdSlider li:nth-child(4) span {
        background-image: url(https://res.cloudinary.com/andrerichards/image/upload/c_scale,w_950/v1515840920/portfolio/4.jpg)
    }
    .bkgdSlider li:nth-child(5) span {
        background-image: url(https://res.cloudinary.com/andrerichards/image/upload/c_scale,w_950/v1515840925/portfolio/5.jpg)
    }
    .bkgdSlider li:nth-child(6) span {
        background-image: url(https://res.cloudinary.com/andrerichards/image/upload/c_scale,w_950/v1515840925/portfolio/6.jpg)
    }
    .bkgdSlider li:nth-child(7) span {
        background-image: url(https://res.cloudinary.com/andrerichards/image/upload/c_scale,w_950/v1515840931/portfolio/7.jpg)
    }
    .bkgdSlider li:nth-child(8) span {
        background-image: url(https://res.cloudinary.com/andrerichards/image/upload/c_scale,w_950/v1515840925/portfolio/8.jpg)
    }
    .bkgdSlider li:nth-child(9) span {
        background-image: url(https://res.cloudinary.com/andrerichards/image/upload/c_scale,w_950/v1515840932/portfolio/9.jpg)
    }
}

@media screen and (min-width: 1400px) {
    .bkgdSlider li:nth-child(1) span {
        background-image: url(https://res.cloudinary.com/andrerichards/image/upload/v1515840911/portfolio/1.jpg)
    }
    .bkgdSlider li:nth-child(2) span {
        background-image: url(https://res.cloudinary.com/andrerichards/image/upload/v1506631977/portfolio/2.jpg)
    }
    .bkgdSlider li:nth-child(3) span {
        background-image: url(https://res.cloudinary.com/andrerichards/image/upload/v1515840918/portfolio/3.jpg)
    }
    .bkgdSlider li:nth-child(4) span {
        background-image: url(https://res.cloudinary.com/andrerichards/image/upload/v1515840920/portfolio/4.jpg)
    }
    .bkgdSlider li:nth-child(5) span {
        background-image: url(https://res.cloudinary.com/andrerichards/image/upload/v1515840925/portfolio/5.jpg)
    }
    .bkgdSlider li:nth-child(6) span {
        background-image: url(https://res.cloudinary.com/andrerichards/image/upload/v1515840925/portfolio/6.jpg)
    }
    .bkgdSlider li:nth-child(7) span {
        background-image: url(https://res.cloudinary.com/andrerichards/image/upload/v1515840931/portfolio/7.jpg)
    }
    .bkgdSlider li:nth-child(8) span {
        background-image: url(https://res.cloudinary.com/andrerichards/image/upload/v1515840925/portfolio/8.jpg)
    }
    .bkgdSlider li:nth-child(9) span {
        background-image: url(https://res.cloudinary.com/andrerichards/image/upload/v1515840932/portfolio/9.jpg)
    }
}